<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Helpdesk - ADMIN!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">
    <div class="my-3">
        <a type="button" class="btn btn-outline-primary" th:href="@{/admin/title}">Назад</a>
    </div>

    <div class="col-md-6 offset-md-3">
        <h2 class="my-3">Создание новой категории</h2>
        <form th:method="POST" th:action="@{/admin/title/new}" th:object="${title}">
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Имя" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" th:field="*{mark}" id="mark">
                <label class="form-check-label" for="mark">Запретить использовать</label>
            </div>
            <button type="submit" class="btn btn-success">Создать</button>
        </form>
    </div>
</div>

<th:block th:insert="core/general.html :: footer"/>
</body>
</html>
