<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Helpdesk - ADMIN!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">

    <div class="my-3">
        <a type="button" class="btn btn-outline-primary" th:href="@{/admin}">Назад</a>
        <a type="button" class="btn btn-outline-success" th:href="@{/admin/title/new}">Создать</a>
    </div>

    <h2 class="my-3">Список категорий</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Запретить использовать</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(titles)}">
            <td class="text-center" colspan="4">Нет записей</td>
        </tr>
        <tr th:each="title : ${titles}">
            <td class="align-middle" th:text="${title.id}"></td>
            <td class="align-middle" th:text="${title.name}"></td>
            <td class="align-middle" th:text="${title.mark}"></td>
            <td class="align-middle d-flex">
                <a class="btn btn-primary mx-1" th:href="@{/admin/title/{id}(id = ${title.id})}">Редактировать</a>
                <form th:method="POST" th:action="@{/admin/title/delete/{id}(id = ${title.id})}">
                    <button type="submit" class="btn btn-danger mx-1">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-danger" role="alert" th:if="${message}" th:text="${message}">Message</div>
</div>

<th:block th:insert="core/general.html :: footer"/>
</body>
</html>
